@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap&text=DanielSalvado0123456789');
@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme inline {
	--font-beanie: 'Reenie Beanie';
}

@layer base {
	html {
		font-size: 18px;
	}

	body {
		@apply container mx-auto prose grid h-svh grid-rows-[auto,1fr,auto] scroll-smooth bg-neutral-50 px-6 text-neutral-950 antialiased transition-colors dark:bg-neutral-950 dark:text-neutral-50 dark:prose-invert;
	}

	a {
		@apply text-amber-500 no-underline transition-colors hover:underline hover:decoration-wavy hover:underline-offset-4 dark:text-amber-300;
	}

	header,
	main,
	footer {
		@apply py-10;
	}
}
